footer{
    
    .bi{
        font-size: 20px;
        color: black;
        padding: 20px;
        transition: 0.5s all ease-in-out;
        transform: scale(5);

        &:hover{
            
            color: rgba(243, 40, 13, 0.918);  
        }
    }
    
}