.navbar{
    background-image: url("../media/imagennavbar.jpg");
    background-size: cover;
    background-position: center center;
    image-resolution: 3;

    .nav-link{
        color: white;
        background-color: rgba(0, 0, 0, 0.603);
    }
}