*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #dae9b4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;    

}
header{
    display: flex;
    gap: 30px;
    padding: 20px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.menu1 {
    background-color: rgb(30, 90, 112);
    border-radius: 0.9rem;
    color:#112A46;
    font-size: 20px;
    padding: 10px;
}
.menu1 a{
    color: #a1a0ec;
    text-decoration: none;
}
.lgo{
    display: flex;
    justify-items: start;
    background-color: #2e6329;
    border: 1px solid #fff;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    border-radius: 50%;
    bottom: 20px;
    right: 10px;
    padding: 10px;
}

.caja1w{

    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 0.8px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}
.caja2l{

    position: fixed;
    z-index: 998;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}
.caja1w:hover{
    transform: scale(0,5.0,5);
    transition: 0.3s;
}
.caja2l:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 25px;
    transition: ease 1s;
}
.boton1{
    
    border-radius: 50%;
    height: 100;
    width: 200px;
    transition: ease 1s;
}

footer{
    text-align: center;
    margin-top: auto;
    bottom: 0;
    font-size: 20px;
    width: 100%;
}

.menu2 a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

@keyframes efecto {
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

@media screen and (max-width: 800px){
    body{
        background-color: #B3D6C6;
    }
    .parrafo{
        flex-direction: column;
    }
    .menu{
        display: block;
        width: 80%;
        height: 100%;
        margin: 0%;
        position: fixed;

        }
    .contenido{
        width: 80%;
    }
    .menu1{
        display: block 100%;
        padding: 20px;
        background-color: #2e6329;
    }
        }
.container .bi{
    color: black;
    padding: 20px;
    transition: 0.5s all ease-in-out;

}
.container .bi:hover{
    transform: scale(1.5);
    color: rgba(243, 40, 13, 0.918);    
}


.carousel {
    width: 640px; 
}
.carousel-inner{
    text-align: center;
}
.carousel .item > img{
    display: inline-block;
}
.collapse{
    justify-content: space-between;
}
